vsphere_clusters = {
    cl1: {
        vsphere_datastore = "nvme-ds1"
        vm_template = "rhcos-latest"
        vm_network = "VM Network"
        bootstrap_mac = "00:1c:14:00:00:03"
        control_plane_macs = ["00:1c:14:00:00:11", "00:1c:14:00:00:12", "00:1c:14:00:00:13"]
        compute_macs = ["00:1c:14:00:00:41", "00:1c:14:00:00:42", "00:1c:14:00:00:43"]
    }
    cl2: {
        vsphere_datastore = "nvme-ds2"
        vm_template = "rhcos-latest"
        vm_network = "VM Network"
        compute_macs = ["00:1c:14:00:00:44", "00:1c:14:00:00:45", "00:1c:14:00:00:46"]
    }
}

// ID identifying the cluster to create. Use your username so that resources created can be tracked back to you.
var.cluster_id = "ocp-4"

// Name of the vSphere server. The dev cluster is on "vcsa.vmware.devcluster.openshift.com".
vsphere_server = "vcsa.vmware.devcluster.openshift.com"

// User on the vSphere server.
vsphere_user = "YOUR_USER"

// Password of the user on the vSphere server.
vsphere_password = "YOUR_PASSWORD"

// Name of the vSphere datacenter.
vsphere_datacenter = "dc1"

// tag category names
region = "k8s-region"
zone = "k8s-zone"

bootstrap_complete = false

// Ignition config for the bootstrap machine. You should change the source, based on your environment.
bootstrap_ignition = <<END_OF_BOOTSTRAP_IGNITION
{"ignition":{"config":{"merge":[{"source":"http://10.20.15.2:80/ignition/bootstrap.ign","verification":{}}],"replace":{"source":null,"verification":{}}},"security":{"tls":{}},"timeouts":{},"version":"3.0.0"},"passwd":{},"storage":{},"systemd":{}}
END_OF_BOOTSTRAP_IGNITION

// Ignition config for the control plane machines. You should copy the contents of the master.ign generated by the installer.
control_plane_ignition = <<END_OF_MASTER_IGNITION
Copy the master ignition generated by the installer here.
END_OF_MASTER_IGNITION

// Ignition config for the compute machines. You should copy the contents of the worker.ign generated by the installer.
compute_ignition = <<END_OF_WORKER_IGNITION
Copy the worker ignition generated by the installer here.
END_OF_WORKER_IGNITION
